.git
.dagster
.env
.env.*
!.env.example
.venv
**/.venv
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.pyright
app/racingline/node_modules
app/racingline/dist
engines/target
pipeline/elt/target
pipeline/elt/logs
pipeline/.dbt
*.log
