# RustFS
RUSTFS_ACCESS_KEY=mono-fleur
RUSTFS_SECRET_KEY=change-me-rustfs-secret
RUSTFS_API_PORT=34050
RUSTFS_CONSOLE_PORT=34051

# ClickHouse
CLICKHOUSE_DB=mono_fleur
CLICKHOUSE_USER=mono_fleur
CLICKHOUSE_PASSWORD=change-me-clickhouse-password
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
CLICKHOUSE_HTTP_PORT=34052
CLICKHOUSE_NATIVE_PORT=34053

# PostgreSQL
POSTGRES_DB=mono_fleur
POSTGRES_USER=mono_fleur
POSTGRES_PASSWORD=change-me-postgres-password
POSTGRES_PORT=34054

# NATS
NATS_CLIENT_PORT=34055
NATS_MONITOR_PORT=34056
